<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         failOnRisky="false"
         failOnWarning="true"
         colors="true"
         testdox="true"
         >
    <testsuites>
        <testsuite name="default">
            <directory suffix='-test.php'>tests</directory>
        </testsuite>
    </testsuites>
    <groups>
		<exclude>
			<group>ajax</group>
			<group>ms-files</group>
			<group>external-http</group>
		</exclude>
	</groups>
    <!-- <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">*</directory>
        </include>
    </coverage> -->
</phpunit>
